@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    /* outline: 1px solid black; */
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-form {
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.2rem;
    background-color: lightblue;
    border-radius: 0.3rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 20rem;
}

input {
    padding: 0.4rem;
    border: none;
    border-radius: 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    width: 5rem;
    padding: 0.4rem;
}

.input-box {
    margin: 10px;
}